.event-conatainer{
   
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    margin-top: 30px;
   justify-content: center;
    
}
img{
    width: 40vw;
    height: 40vh;
    object-fit: contain;
}
.detail{
    /* background-color: rgb(231, 219, 231); */
    margin-left: 30px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time{
    font-weight: 900;
    font-size: 1rem;

}
.title{
    
   margin-left: 30px;
   height: 40px;
  width: 50vw;
   background-color: black;
   color: white;
   text-align: center;
   font-weight: 900;
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 1.5rem;
}
.event-data{
    width: 40vw;
    display: flex;
   justify-content: space-around
}
.category{
    background-color: rgb(130, 143, 252);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 5px;
}
.discription{
    text-align: left;
    margin: 10px auto;

}
.btns{
    width: 50vw;
    margin-top: 7px;
    display: flex;
    justify-content: space-evenly;
}
.edit,.dlt{
     font-size: 30px;
}
.dlt:hover{
    color: blue;
    cursor: pointer;
}
.edit:hover{
    color: blue;
    cursor: pointer;
}
.modal-header{
    background-color: black;
}
.btn-close{
  background-color: white;
}

@media screen and (max-width: 1000px)  {
.event-conatainer{
    flex-direction: column;
    border: 2px dotted green;
    border-radius: 2px;
    height: 70vh;
}
.photo{
    width: 70vw;
    margin-left: 33px;
}
.title{
    margin-left: 10px;
}
.btn{
    margin-left: 10px;
}
.discription{
    text-align: left;
}
.edit,.dlt{
    font-size: 30px;
    margin-left: 20px;
}
img{
    height: 20vh;
}
}